/* FONDO GENERAL */
body{
    background: radial-gradient(circle at top, #0f172a, #020617);
    font-family: 'Segoe UI', sans-serif;
    color: white;
    margin: 0;
}

/* CONTENIDO GENERAL (YA NO centrado vertical) */
.content{
    margin-left: 120px;
    padding: 40px 60px;
    width: calc(100% - 230px);
    min-height: 100vh;
}

/* TÍTULO */
h2{
    font-weight: 600;
    margin-bottom: 30px;
    color: #e2e8f0;
    text-align: center;
}

/* CONTENEDOR PRINCIPAL DEL FORM */
.form-container{
    width: 100%;
    max-width: 950px;
     /* centra horizontal */

    background: rgba(30,41,59,0.7);
    padding: 45px;
    border-radius: 20px;
    backdrop-filter: blur(12px);

    box-shadow:
    0 15px 40px rgba(0,0,0,0.5),
    0 0 25px rgba(56,189,248,0.15);

    animation: fadeUp 0.5s ease;
}

/* FILAS MÁS ESPACIADAS */
.row{
    margin-bottom: 10px;
}

/* LABELS */
label{
    color: #cbd5e1;
    margin-bottom: 6px;
    font-weight: 500;
    display: block;
}

/* INPUTS */
.form-control{
    background: #020617;
    border: 1px solid #334155;
    color: white;
    border-radius: 12px;
    padding: 14px;
    transition: 0.25s;
}

.form-control::placeholder{
    color: #64748b;
}

.form-control:focus{
    background: #020617;
    color: white;
    border-color: #38bdf8;
    box-shadow: 0 0 12px rgba(56,189,248,0.5);
}

/* SECCIÓN HUELLA */
#btnHuella{
    background: linear-gradient(135deg,#38bdf8,#0ea5e9);
    border: none;
    border-radius: 12px;
    padding: 12px 22px;
    font-weight: 600;
    color: #020617;
    transition: 0.25s;
}

#btnHuella:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 15px rgba(56,189,248,0.6);
}

/* TEXTO HUELLA */
#estadoHuella{
    font-size: 14px;
    color: #94a3b8;
}

/* BOTÓN PRINCIPAL */
.btn-success{
    background: linear-gradient(135deg,#22c55e,#16a34a);
    border: none;
    padding: 14px 30px;
    border-radius: 12px;
    font-weight: 600;
    font-size: 16px;
    margin-top: 10px;

    transition: 0.25s;
}

.btn-success:hover{
    transform: translateY(-2px);
    box-shadow: 0 0 18px rgba(34,197,94,0.6);
}

/* ANIMACIÓN */
@keyframes fadeUp{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}